<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

    <aop:aspectj-autoproxy/>

    <bean id="Service" class="com.zakharuk.aop.SampleService">
    </bean>

    <aop:config>
        <aop:aspect ref="Service">
        <aop:pointcut expression="execution(* com.zakharuk.aop.Student.getName(..))" id="studentName" />
            <aop:after-returning pointcut-ref="studentName"
                    method="afterReturningGetName" />
        </aop:aspect>
    </aop:config>


    <bean id="Bob" class="com.zakharuk.aop.Student">
        <constructor-arg value="Bob"></constructor-arg>
    </bean>

</beans>